<div class='container' >
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <form #myForm ='ngForm'>
        <div class='form-group'>
            <label>Collection Name: </label>
            <input type='text' class="form-control" name="name">
        </div>
        <div class='form-group'>
            <label>Type: </label>
            <input type='text' class="form-control" name="type">
        </div>
        <button class='btn btn-primary' type='submit'>
            Add
        </button>
    </form>
</div>