<div class='container' >
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <form (ngSubmit)="submit()" #collectionForm ='ngForm' class='editForm'>
        <div class='form-group'>
            <label>Collection Name: </label>
            <input type='text' class="form-control" id="collectionName" name="collectionName" required minlength="1" whiteSpace
                [(ngModel)]="collection.collectionName" #collectionName="ngModel" />

            <div *ngIf="collectionName.invalid && (collectionName.dirty || collectionName.touched)"
                class="alert alert-danger">           
                <div *ngIf="collectionName.errors.required">
                    Collection Name is required.
                </div>
                <div *ngIf="collectionName.errors.minlength">
                    Collection Name must be at least 1 character long.
                </div>
                <div *ngIf="collectionName.errors.whiteSpace">
                    Collection Name cannot contain only spaces.
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label>Collection Type: </label>
            <select class="form-control"
                    [(ngModel)]="collection.collectionTypeId"
                    name="collectionType" 
                    required>
                <option *ngFor="let collectionType of collectionTypes" [ngValue]="collectionType.collectionTypeId">{{collectionType.collectionTypeName}}</option>
            </select>
        </div>
        <button class='btn btn-success' type='submit' [disabled]="!collectionForm.valid">
            Add
        </button>
    </form>
</div>