<div class='panel panel-primary' >
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let collection of collections'>
                <td>{{collection.collectionName}}</td>
                <td>{{collection.collectionType}}</td>
                <td>{{collection.itemsInCollection}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>